@import url('https://fonts.googleapis.com/css2?family=Mako&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: rgb(8, 8, 77);
    font-family: "Mako", sans-serif;
  }
}
